@use '../variables';

.flip-card {
    perspective: 1000px;
    position: relative;
    border: 1px solid rgba(variables.$white, 0.3);

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
        transform-style: preserve-3d;
        cursor: pointer;
    }

    @media (hover: hover) {
        &:hover &__inner {
            transform: rotateY(180deg);
        }
    }

    &.is-active &__inner {
        transform: rotateY(180deg);
    }

    &__front, &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden; // Safari
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    &__back {
        transform: rotateY(180deg); // já começa virado
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}