@use 'variables';


.legacy {
    padding: 80px 0;
    background: linear-gradient(variables.$dark, variables.$deep-blue);

    .title--medium {
        text-align: center;
        color: variables.$white;
        font-family: variables.$font-title;
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-top: 60px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        background: rgba(variables.$dark, 0.5);
        border: 1px solid rgba(variables.$white, 0.1);
        transition: border-color 0.3s ease;

        &:hover {
            border-color: variables.$wine-red;
        }
    }

    .flip-card {
        height: 450px; 
        
        @media (max-width: 480px) { height: 350px; }

        &__img {
            object-position: top;
        }

        &.is-active {
            background: rgba(variables.$dark, 0.5);
            border: 1px solid rgba(variables.$white, 0.1);
            transition: border-color 0.3s ease;
            border-color: variables.$wine-red;
        }
    }

    &__details {
        padding: 24px;
        border-top: 4px solid variables.$wine-red;
        
        &__year {
            color: variables.$wine-red;
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        &__name {
            font-size: 1.8rem;
            font-weight: 900;
            margin-bottom: 10px;
            color: variables.$white;
        }

        &__desc {
            font-size: 1rem;
            line-height: 1.5;
            color: rgba(variables.$white, 0.8);
        }
    }
}