@use 'variables';
@use "sass:color";

$bg-color: linear-gradient(180deg, 
    variables.$dark 0%, 
    variables.$deep-blue 50%, 
    variables.$dark 100%);

@mixin neonHighlight() {
    color: variables.$neon-green;
    text-shadow: 0 0 15px rgba(variables.$neon-green, 0.5);
}

.players {
    background: $bg-color;

    .title--medium {
        text-align: center;
        color: variables.$white;
        font-family: variables.$font-title;
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 100px;
    }

    span {
        font-weight: 900;
        color: color.adjust(variables.$wine-red, $lightness: 10%);
    }

    a span:hover {
        @include neonHighlight();
    }

    .player-row {
        padding: 100px 0;
        overflow: hidden;
        border-bottom: 1px solid rgba(variables.$white, 0.1);

        &__content {
            display: flex;
            align-items: center;
            gap: 80px;
            color: variables.$white;

            @media (max-width: 768px) {
                flex-direction: column;
                text-align: justify;
                gap: 20px;
            }
        }

        &--reverse {
            background: rgba(0, 0, 0, 0.3); 
            .player-row__content { 
                flex-direction: row-reverse; 

                @media (max-width: 768px) {
                    flex-direction: column;
                    text-align: justify;
                    gap: 20px;
                }
            }
        }

        &--highlight {
            background: rgba(variables.$neon-green, 0.1);
            border-top: 2px solid variables.$neon-green;
            border-bottom: 2px solid variables.$neon-green;
            
            .player-row__info__identity__name { 
                @include neonHighlight();
            }
        }

        &__text {
            flex-grow: 1;
            max-width: 90%;
        }

        &__rank {
            font-size: 1.5rem;
        }   

        &__info {
            text-shadow: 0 0 3px variables.$white;
            margin: 30px 0;

            a {
                color: inherit;

                &:hover {
                    @include neonHighlight();
                }
            }

            &__team {    
                display: flex;
                align-items: baseline;
                gap: 10px;
                font-size: 0.75rem;
                position: relative; 
                z-index: 2;
                margin-bottom: 5px; 
                
                a {
                    display: inline-block; // Torna a área do link mais sólida
                    position: relative;
                    z-index: 10;
                }
                
                img {
                    height: 12px;
                }
            }

            &__identity {
                display: flex;
                align-items: baseline;
                flex-wrap: wrap;
                position: relative;
                z-index: 1;
                
                &__name {
                    font-size: 4rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    line-height: 0.9;
                }

                &__country {
                    display: flex;
                    align-items: baseline;

                    img {
                        height: 12px;
                    }
                }
            } 
        }
    }

    .flip-card {
        width: 400px;
        height: 400px;
        flex-shrink: 0;
        border-radius: 20px;
        background-color: rgba(variables.$dark, 0.5);

        @media (max-width: 420px) {
        width: 90vw;
        height: 90vw; 
    }

        &__inner {
            background: $bg-color;
            border-radius: 20px;
        }

        &__front, &__back {
            border-radius: 20px;
        }

        &__front {
            border: 1px solid rgba(variables.$white, 0.3);
        }

        &__back {
            border: 4px solid variables.$wine-red;

            &--bg-img {
                background-image: url('../images/assets/bg_mbison.jpg');
            }

            .flip-card__img {
                object-position: top;
            }
        }

        &__img {
            &--top {
                object-position: top;
            }

            &--zoom-bottom {
                object-position: center bottom;
                transform: scale(1.4);
                transform-origin: bottom center;
            }
        }
    }
}