@use 'variables';
@use "sass:color";

.prize {
    padding: 100px 0;
    background-color: variables.$dark;
    border-top: 2px solid variables.$neon-green;

    &__highlight {
        display: flex;
        align-items: center;
        gap: 60px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__content {
        width: 50%;

        h2 {
            font-size: 2.5rem;
            color: variables.$neon-green;
            text-transform: uppercase;
            margin-bottom: 24px;
            font-weight: 900;
            text-align: center;
        }

        p {
            color: variables.$white;
            font-size: 1.1rem;
            opacity: 0.9;
            text-align: justify;

            a {
                color: variables.$wine-red;
                text-shadow: 0 0 15px rgba(variables.$wine-red, 0.5);
                opacity: 1;
                font-weight: bold;
            }

            a:hover {
                color: variables.$neon-green;
                text-shadow: 0 0 15px rgba(variables.$neon-green, 0.5);
            }
        }

        @media (max-width: 768px) {
            width: 100%;

            h2 {
                font-size: 2rem;
                margin-bottom: 16px;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .flip-card {
        width: 50%;
        height: 400px;
        background-color: color.adjust(variables.$dark, $lightness: 4%);
        
        @media (max-width: 768px) {
            width: 100%;
            height: 300px;
        }
        
        &__inner {
            background-color: variables.$dark;
        }

        &__front {
            border: 4px solid variables.$neon-green;

            .flip-card__img {
                height: auto;
            }
        }

        &__back {
            border: 1px solid rgba(variables.$white, 0.9);
        }
    }
}